#!/bin/bash
set -eufo pipefail

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --profile=minimal

{{ if eq .chezmoi.os "linux" -}}
# These are all managed by Homebrew on macOS

cargo install --locked broot atuin starship

while sudo fuser /var/lib/apt/lists/lock >/dev/null 2>%1; do
  sleep 1
done

sudo apt-get update
sudo apt-get install -y \
  build-essential \
  cmake \
  curl \
  direnv \
  fzf \
  git \
  jq \
  ripgrep \
  micro \
  zsh \
  lnav \
  zsh-syntax-highlighting

sudo snap install fx || true # Ignore failure in case snapd isn't available

{{ end -}}