{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -eufo pipefail

sudo apt-get update
sudo apt-get install unzip -y

BROOT_VERSION="1.25.2"
FILENAME="broot_$BROOT_VERSION"
TMP_DIR=$(mktemp -d)
EXTRACTION_DIR="${TMP_DIR}/${FILENAME}"
curl -Lo ${TMP_DIR}/${FILENAME}.zip https://github.com/Canop/broot/releases/download/v$BROOT_VERSION/$FILENAME.zip
mkdir -p $EXTRACTION_DIR
unzip ${TMP_DIR}/${FILENAME}.zip -d $EXTRACTION_DIR
sudo cp ${EXTRACTION_DIR}/$(uname -m)-unknown-linux-gnu/broot /usr/local/bin/
sudo chmod +x /usr/local/bin/broot
rm -rf $TMP_DIR
broot --set-install-state installed
{{- end -}}