#!/bin/bash
set -eufo pipefail

{{ if eq .chezmoi.os "linux" -}}

mkdir -p ~/.local/bin && curl -sS https://starship.rs/install.sh | sh -s -- -b ~/.local/bin

while sudo fuser /var/lib/apt/lists/lock >/dev/null 2>%1; do
  sleep 1
done

sudo apt-get update
sudo apt-get install -y \
  build-essential \
  curl \
  direnv \
  fzf \
  git \
  jq \
  ripgrep \
  micro \
  zsh \
  lnav \
  zsh-syntax-highlighting

sudo snap install fx || true # Ignore failure in case snapd isn't available

{{ end -}}